*{
    margin: 0px;
    padding: 0px;
}





body{
    background-color:rgba(169, 245, 29, 0.555);
}
#navigationbar{
   display: flex;
   padding: 10px;
   position:absolute;
   background-color:rgba(0,0,0,0.5) ;
   width: 100%;
   height: 50px;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   
}
.a1{
    text-align: center;
}
a{
    text-align: center;
}

#navigationbar .a1 a:hover{
    background-color: #a5ff80b3;
    border-radius: 8px;
    text-decoration: underline 2px rgba(247, 245, 245, 0.3);
    font-size: 32px;
    margin: 18px;
    
}
#navigationbar .a2 a:hover{
    background-color: #a5ff80b3;
    border-radius: 8px;
    text-decoration: underline 2px rgba(240, 237, 237, 0.3);
    font-size: 32px;
    margin: 18px;
}
#navigationbar .a3 a:hover{
    background-color: #a5ff80b3;
    border-radius: 8px;
    text-decoration: underline 2px rgba(245, 244, 244, 0.3);
    font-size: 32px;
    margin: 16px;
}
#navigationbar .login a{
    margin: 20px;
    padding: 5px;
    font-size: 30px;
    color: rgb(237, 237, 245);
    text-decoration:none;
    font-weight: bold;

    
}
#navigationbar .a2 a , .a3 a , .a1 a{
    margin: 20px;
    padding: 5px;
    font-size: 30px;
    color: white;
    text-decoration: none;
    
}

#top img{
    
  width:100% ;
  height: 800px;
  display: flex;
  text-align: center;
    
   
}
#top{
    display: flex;
    
    
}

    
    
#top .text {
    width: 100%;
    margin-top: 200px;
    

    position: absolute;
    text-align: center;
    
    
    
    
}

#top .text h2{
       
       color: black;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-style: italic;
}

#top .text p{
    margin-top: 40px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
   
}
#navigationbar img{
    margin-right: 375px;
    width: 125px;
    
}
.button button{
    display: flexbox;
    flex-direction: row;
    background-color: rgb(243, 224, 117);
    width: 100px;
    height: fit-content;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

#win {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    
   
}
#win .firstwin{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    
    
    
}
#win .secondwin{
    display: flex;
    flex-direction: row-reverse;
    
    width: 100%;
    
}
#win .thirdwin{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    
}
#win .firstwin .text1 {
padding: 10px;
margin-top: 50px;
font-size: x-large;
font-family: 'Lato', sans-serif;
}
#win .secondwin .text2 {
    padding: 10px;
    margin-top: 50px;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    }
    #win .thirdwin .text3 {
        padding: 20px;
        margin-top: 50px;
        font-size: x-large;
        font-family: 'Lato', sans-serif;
        }

#win .firstwin img{
    padding: 10px;
    border-radius: 50px;
    height: 500px;
}        
#win .secondwin img{
    padding: 10px;
    border-radius: 500px;
}     
#win .thirdwin img{
    padding: 10px;
    border-radius: 200px;
}     

.button button{
    color: rgb(18, 248, 68);
    border-color: black;
    text-decoration: solid;
    font-weight: bold;
    font-family: 'Lucida Sans';

}
